@model IEnumerable<BabyShop.Models.SliderImage>

@{
    ViewData["Title"] = "AdminSettings";
}

<h1>AdminSettings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptionText)
            </th>
            <th></th>
        </tr>
    </thead>
   
</table>
